.login-body {
    display: flex;
    justify-content: center; // Centrado horizontal
    align-items: center;     // Centrado vertical
    min-height: 100vh;       // Ocupa toda la altura de la pantalla
    background: $color-fondo;
    margin: 0;

    .login-card {
        background: white;
        padding: 40px;
        width: 100%;
        max-width: 350px; // Tamaño mediano
        border-radius: 10px;
        box-shadow: $sombra;
        text-align: center;

        h2 {
            margin-bottom: 25px;
            color: $color-oscuro;
        }

        input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box; // Evita que se salga del borde
            
            &:focus {
                outline: none;
                border-color: $color-primario;
            }
        }

        button {
            width: 100%;
            padding: 12px;
            background: $color-primario;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: darken($color-primario, 10%);
            }
        }

        .links {
            margin-top: 20px;
            font-size: 0.9em;
            a {
                color: $color-primario;
                text-decoration: none;
                &:hover { text-decoration: underline; }
            }
        }
    }
    .invitado {
        color: #666 !important;
        font-weight: bold;
        font-size: 0.9em;
        &:hover { color: $color-oscuro !important; }
    }
}